################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/task-reminder-client/.vscode/extensions.json
/task-reminder-client/.vscode/extensions.json
