/* You can add global styles to this file, and also import other style files */
@import "styles-variables";

html,
body {
  @apply h-full;
}

.p-component {
  font-size: $task-reminder-font-primary;
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-size: 1.3rem;
}

.p-button.p-button-sm {
  font-size: 0.65rem;
  padding: 0.45rem 0.45rem;
}

.p-calendar {
  width: 100%;
}

.p-calendar .p-datepicker {
  padding: 0;
}

.p-calendar-w-btn .p-datepicker-trigger {
  background-color: $task-reminder-primary;
  border: 1px solid $task-reminder-primary;
  height: 2rem;
}

.p-calendar-w-btn .p-datepicker-trigger:enabled:hover {
  color: white;
  background-color: $task-reminder-primary-hover;
  border-color: $task-reminder-primary-border-hover;
}

.p-calendar-w-btn .p-inputtext,
.p-calendar .p-inputtext {
  padding: 0.45rem;
  height: 2rem;
}

// calendar
.p-datepicker table td {
  padding: 0.2rem !important;
}

.p-datepicker table td>span {
  width: 1.25rem;
  height: 1.25rem;
}

.p-datepicker table {
  font-size: 0.75rem;
  margin: 0;
}

.p-datepicker .p-datepicker-header {
  padding: 0.2rem;
}

.p-datepicker .p-datepicker-header .p-datepicker-title {
  line-height: 1rem;
}

.p-datepicker .p-monthpicker {
  margin: 0;
}

.p-datepicker .p-yearpicker {
  margin: 0;
}

.p-datepicker .p-monthpicker .p-monthpicker-month {
  padding: 0.25rem;
}

.p-datepicker .p-yearpicker .p-yearpicker-year {
  padding: 0.25rem;
}

.p-datepicker .p-timepicker {
  padding: 0;
}

.p-datepicker .p-timepicker>div {
  padding: 0 0.25rem;
}

.p-datepicker .p-timepicker button {
  width: 1rem;
  height: 1rem;
}

.p-datepicker .p-timepicker span {
  font-size: .9rem;
}

//end calendar

.p-inputtext.p-inputtext-sm {
  padding: 0.3rem 0.3rem;
}

.p-dialog .p-dialog-header {
  padding: 1rem;
}

.p-dialog .p-dialog-content {
  padding: 0 1rem 1rem 1rem;
}

.ui-dialog-resizable .ui-dialog-content {
  overflow: unset;
}

.p-button:enabled:hover {
  color: $task-reminder-primary;
  background-color: rgba(153, 153, 153, 0.2);
  border-color: $task-reminder-primary;
}

.submit:enabled:hover {
  color: white;
  background-color: $task-reminder-primary-hover;
  border-color: $task-reminder-primary-border-hover;
}

.p-dialog .p-dialog-footer button {
  background-color: white;
  color: $task-reminder-primary;
  border: 1px solid $task-reminder-primary;
  padding: 0.45rem 0.45rem;
}

.p-dialog .p-dialog-footer .p-confirm-dialog-accept {
  color: #fff;
  background-color: $task-reminder-primary;
}

.p-dialog .p-dialog-footer .p-confirm-dialog-accept:hover {
  color: #fff;
  background-color: $task-reminder-primary-hover;
  border: 1px solid $task-reminder-primary-border-hover;
}

.required:after {
  content: " *";
  margin-left: 0.125rem;
  color: red;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  color: white !important;
  padding: .8rem;
}

.p-accordion .overdueTab .p-accordion-header .p-accordion-header-link {
  background-color: $task-reminder-overdueTab  !important;
}

.p-accordion .todayTab .p-accordion-header .p-accordion-header-link {
  background-color: $task-reminder-todayTab  !important;
}

.p-accordion .upcomingTab .p-accordion-header .p-accordion-header-link {
  background-color: $task-reminder-upcomingTab  !important;
}

.p-accordion .completedTab .p-accordion-header .p-accordion-header-link {
  background-color: $task-reminder-completedTab  !important;
}

.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus,
.p-button:focus {
  box-shadow: none;
}

.noti-info .active {
  animation: shake 1.5s infinite;
}

.p-inputtext:enabled:focus {
  box-shadow: none;
}

.p-tag {
  font-size: .5rem;
  border: none;
  color: $task-reminder-primary;
  background-color: white;
}

.name-task {
  color: $task-reminder-primary;
}

.name-task:hover {
  color: $task-reminder-primary-hover;
}

.p-accordion p-accordiontab:first-child .p-accordion-header .p-accordion-header-link {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}

.p-accordion p-accordiontab:last-child .p-accordion-header:not(.p-highlight) .p-accordion-header-link {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

.p-accordion p-accordiontab:last-child .p-accordion-content {
  border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.p-menu {
  border-radius: 0rem;
}

// .p-menu .p-menuitem-link:not(.p-disabled):focus {
//   background: #cdcdce;
// }

.p-scrollpanel-content {
  overflow: scroll !important;
}

.p-menuitem .p-menuitem-link-active {
  background: #cdcdce;
}

.p-menu .p-menuitem-link:not(.p-disabled):hover {
  background: #cdcdce;
}

@keyframes shake {
  0% {
    transform: rotate(35deg);
  }

  12.5% {
    transform: rotate(-30deg);
  }

  25% {
    transform: rotate(25deg);
  }

  37.5% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(15deg);
  }

  62.5% {
    transform: rotate(-10deg)
  }

  75% {
    transform: rotate(5deg)
  }

  100% {
    transform: rotate(0);
  }
}
