
//required
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$task-reminder-font-primary: .9rem;
$task-reminder-primary: #00bcd4;
$task-reminder-primary-hover: #00aec5;
$task-reminder-primary-border-hover: #008697;
$task-reminder-overdueTab: #ef5350;
$task-reminder-todayTab: #42a5f5;
$task-reminder-upcomingTab: #66bb6a;
$task-reminder-completedTab: #9ccc65;
// #4f9ac8; #71a0bd

